<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliya.base.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.reference.WeakReferenceActivity"
            android:configChanges="orientation|screenSize"
            android:label="弱引用示例"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.actionbar.SampleActionBarActivity"
            android:configChanges="orientation|screenSize"
            android:label="ActionBar演示"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:label="通知演示"
            android:screenOrientation="portrait" /> <!-- 华为全屏适配使用刘海区显示，也可对Activity配置 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SecondActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NormalPageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FullscreenPageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LiveEventActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 适配横竖屏、分屏切换时Activity不重建 -->
        <activity
            android:name=".viewmodel.CitySelectActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DatabaseActivity"
            android:configChanges="orientation|screenSize"
            android:process=":tools"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MineActivity"
            android:configChanges="orientation|screenSize"
            android:label="我的"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:configChanges="orientation|screenSize"
            android:label="Web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.launch.SingleInstanceActivity"
            android:icon="@mipmap/ic_loading_logo"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity="com.aliya.single_instance" />
        <activity
            android:name=".ui.activity.launch.StandardActivity"
            android:label="Standard"
            android:launchMode="standard" />
        <activity
            android:name=".ui.activity.launch.SingleTaskActivity"
            android:label="SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.launch.SingleTopActivity"
            android:label="SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.thread.ThreadPoolActivity"
            android:label="线程池" />
        <activity
            android:name=".module.listen.ListenNewsActivity"
            android:label="新闻早班车" />
        <activity
            android:name=".ui.activity.handler.HandlerActivity"
            android:label="Handler" />

        <receiver
            android:name=".ui.receiver.NotificationClickReceiver"
            android:exported="false" /> <!-- 协助初始化Context -->
        <provider
            android:name=".db.AppInitInstaller"
            android:authorities="com.aliya.app.provider" />
    </application>

</manifest>